<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>微信公众平台登录</title>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/plugin/jquery.form.min.js"></script>
    <script src="js/plugin/jquery.serializejson.min.js"></script>
    <script src="js/plugin/jquery.hotkeys.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0 auto;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: #7F7F7F;
        }
    </style>
</head>
<body>
<!--<div class="ld_header">-->
<!--<div class="ld_header_in">-->
<!--<div class="ld_logo">-->
<!--&lt;!&ndash;<a href="/"><img src="images/ld_logo.png" alt="微信公众平台"></a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="ldL_con">
    <div class="ldL_con_in">
        <div class="ld_form">
            <form id="login-form" method="post" action="/login">
                <h3 class="form_title">用户登录</h3>
                <p>
                    <input type="text" name="username" id="username"/>
                </p>
                <p>
                    <input type="password" id="password" name="password" class="ld_pass"/>
                </p>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="ld_login">
                    <div class="ld_login_in">登录</div>
                    <div id="login-msg"></div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="ld_footer">
    <div class="ld_footer_in">
        <p> Copyright &copy; 微信公众平台</p>
        <p>技术支持: <a href="mailto:yongyongwang1993@gmail.com">yongyongwang1993@gmail.com</a></p>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    var formValid = function () {
        var form = $("#login-form").serializeJSON();
        if (form.username == '') {
            $("#login-msg").text("请输入用户名！");
            $("#username").focus();
            return false;
        }
        if (form.password == '') {
            $("#login-msg").text("请输入密码！");
            $("#password").focus();
            return false;
        }
        $("#login-msg").empty();
        return true;
    }
    $(document).bind('keydown', 'return', function (e) {
        if (formValid()) {
            $(".ld_login_in").click();
        }
    });
    $("#userName").bind('keydown', 'return', function (e) {
        if (formValid()) {
            $(".ld_login_in").click();
        }
    });
    $(".ld_login_in").bind('click', function (e) {
        if (formValid()) {
            $(".ld_login_in").text('登录中...');
            $('#login-form').submit();
            // ajaxHelper().submit({
            //     url: '/login'
            //     , contentType: "application/x-www-form-urlencoded"
            //     , data: $("#login-form").serializeJSON()
            //     , dataType: '*'
            //     , success: function (data) {
            //         location.href = "/";
            //     }
            // });
            // $('#login-form').ajaxForm(function (data) {
            //     console.log(data);
            // });
        }
    });
</script>